@import "font";
@import "slider";

$lato-font-stack: 'Lato', sans-serif;
$gradient_end : rgba(80, 51, 146, 0.7);
$gradient_start : rgba(0, 193, 243, 0.8);

*{
  margin: 0;
  padding: 0;
}
%flex-1{
  display: flex;
}
%flex-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
%nav-parameter{
  position: absolute;
  list-style-type: none;
  width: 184px;
  border-top: 5px solid #dacf5a;
  display: none;
}
%header__title_h{
  font:35px $lato-font-stack;
  font-weight: bold;
  text-transform: uppercase;
}
/*header*/
.main__header{
  width: 100%;
  min-width: 320px;
  display: flex;
  .main__nav{
    height: 70px;
    justify-content: space-between;
    align-items: center;
    @extend %flex-1;
    .block__logo{
      text-transform: uppercase;
      font: 24px Beyno;
      color: #503392;
      font-weight: bold;
      span{
        color: #009dda;
      }
    }
    .nav__items{
      list-style-type: none;
      margin-bottom: 0;
      .nav__item{
        display: inline-flex;
          margin: 1em;
        .nav__link{
          text-decoration: none;
          font: 100% $lato-font-stack;
          color: #000;
          letter-spacing: 0.04em;
          line-height: 24px;
          &:hover{
            font-weight: bold;
          }

        }
        &:hover .dropdown__nav{
          display: block;
        }
        .dropdown__nav{
          top:2.3em;
          background: rgba(44,30,65,0.8);
          z-index: 999;
          @extend %nav-parameter;
          .dropdown-nav__item{
            padding: 1em 2em;
            cursor: pointer;
            color: #fff;
            background:rgba(44,30,65,0.8);
            font: 14px $lato-font-stack;
            .fas{
              font-size: 10px;
            }
            &:hover{
              color: #fff200;
            }
            &:hover .level-nav-second{
              display: block;
            }
            .level-nav-second{
              margin-top: -35px;
              left: 184px;
              @extend %nav-parameter;
            }
          }
        }
      }
    }
  }
}
.banner__block{
  width: 100%;
  .slider{
    .head__title{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      width: 850px;
      max-width: 100%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      h1{
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font:64px $lato-font-stack;
        font-weight: bold;
        letter-spacing: 0.055em;
        span{
          color: #dacf5a;
        }
      }
      p{
        padding-top: 3em;
        font-family: $lato-font-stack;
        text-align: center;
        letter-spacing: 0.04em;
      }
    }
    .slider__item{
      div{
        &:before{
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(100deg, $gradient_start, $gradient_end);
        }
      }
      .slider__img{
        max-width: 100%;
        width: 100%;
      }

    }
  }
}
.choose__block{
  margin: 100px auto 100px;
  width: 100%;
  .row{
    flex-direction: column;
    text-align: center;
    .title__head{
      padding: 5px 0;
      color: black;
      margin: 0 auto;
      @extend %header__title_h;
      .color-blue{
        color: #009dda;
      }
    }
    .head__caption{
      letter-spacing: 0.04em;
      line-height: 24px;
      font: 14px $lato-font-stack;
      color: #bababa;
      width: 700px;
      max-width: 100%;
      margin: 0 auto 30px;
      padding: 30px 0;

    }
    .advantages__block{
      margin: 30px 0 20px;
      @extend %flex-2;
      .advantage__item{
        @extend %flex-1;
        flex-direction: column;
        margin: 0 14px;
        border: 1px solid #bababa;
        width: 200px;
        max-width: 100%;
        height: 270px;
        .item-icon{
          color: #503392;
          font-size: 60px;
          margin: 16px 0;
          i{
            letter-spacing: 0.04em;
            line-height: 24px;
          }
        }
        .item-content-text{
          font:14px $lato-font-stack ;
          text-align: center;
          height: 150px;
          h5{
            font-size: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 60px;
          }
          p{
            margin: 0 auto;
            text-align: center;
            width: 160px;
            letter-spacing: 0.04em;
            line-height: 20px;
            color: #bababa;
          }

        }
        .item-content{
          display: none;
          width: 100%;
          height: 150px;
          text-align: center;
          p{
            text-transform: uppercase;
            font: 14px $lato-font-stack;
            font-weight: 600;
            letter-spacing: 0.05em;
            line-height: 60px;
            color: #fff;
          }
          .item-btn__wrapp{
            .button-adv{
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              border: 2px solid #fff;
              color: #ffffff;
              background: #503392;
              padding: 4px;
              &:hover, &:active{
                background: #ffffff;
                color: #503392;
              }
            }
            .button-adv:first-child{
              transform: rotate(90deg);
            }
          }

        }
        &:hover .item-content-text{
          display: none;
        }
        &:hover .item-content{
          display: block;
          background: #503392;

        }
      }
    }
  }

}

















