@import "font";
@import "slider";
@import "progress";

$lato-font-stack: 'Lato', sans-serif;
$gradient_end : rgba(80, 51, 146, 0.7);
$gradient_start : rgba(0, 193, 243, 0.8);

*{
  margin: 0;
  padding: 0;
}
%flex-1{
  display: flex;
}
%flex-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
%flex-3{
  display: flex;
  justify-content: center;
  align-items: center;
}
%nav-parameter{
  position: absolute;
  list-style-type: none;
  width: 184px;
  border-top: 5px solid #dacf5a;
  display: none;
}
%header__title_h{
  font:35px $lato-font-stack;
  font-weight: bold;
  text-transform: uppercase;
}
%subtitle{
  letter-spacing: 0.04em;
  line-height: 24px;
  font: 14px $lato-font-stack;
  color: #bababa;
  max-width: 100%;
}
/*H2 - STYLE */
.title__head{
  padding: 5px 0;
  color: black;
  margin: 0 auto;
  @extend %header__title_h;
  .color-blue{
    color: #009dda;
  }
}

/*header*/
.main__header{
  width: 100%;
  min-width: 320px;
  display: flex;
  .main__nav{
    height: 70px;
    justify-content: space-between;
    align-items: center;
    @extend %flex-1;
    .block__logo{
      text-transform: uppercase;
      font: 24px 'Abril Fatface';
      color: #503392;
      font-weight: bold;
      span{
        color: #009dda;
      }
    }
    .nav__items{
      list-style-type: none;
      margin-bottom: 0;
      .nav__item{
        display: inline-flex;
          margin: 1em;
        padding: 1.5em 0;
        .nav__link{
          text-decoration: none;
          font: 100% $lato-font-stack;
          color: #000;
          letter-spacing: 0.04em;
          line-height: 24px;
          &:hover{
            font-weight: bold;
          }

        }
        &:hover .dropdown__nav{
          display: block;
        }
        .dropdown__nav{
          top:4em;
          background: rgba(44,30,65,0.8);
          z-index: 999;
          @extend %nav-parameter;
          .dropdown-nav__item{
            padding: 1em 2em;
            cursor: pointer;
            color: #fff;
            background:rgba(44,30,65,0.8);
            font: 14px $lato-font-stack;
            .fas{
              font-size: 10px;
            }
            &:hover{
              color: #fff200;
            }
            &:hover .level-nav-second{
              display: block;
            }
            .level-nav-second{
              margin-top: -35px;
              left: 184px;
              @extend %nav-parameter;
            }
          }
        }
      }
    }
  }
}

/*banner block*/
.banner__block{
  width: 100%;
  .slider{
    .head__title{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      width: 850px;
      max-width: 100%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      h1{
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font:64px $lato-font-stack;
        font-weight: bold;
        letter-spacing: 0.055em;
        span{
          color: #dacf5a;
        }
      }
      p{
        padding-top: 3em;
        font-family: $lato-font-stack;
        text-align: center;
        letter-spacing: 0.04em;
      }
    }
    .slider__item{
      div{
        &:before{
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(100deg, $gradient_start, $gradient_end);
        }
      }
      .slider__img{
        max-width: 100%;
        width: 100%;
      }

    }
  }
}

/*WHY CHOOSE US*/
.choose__block{
  margin: 100px auto 100px;
  width: 100%;
  .choose__block_wrapper{
    flex-direction: column;
    text-align: center;

    .head__caption{
      width: 700px;
      margin: 0 auto 30px;
      padding: 30px 0;
      @extend %subtitle;
    }
    .advantages__block{
      margin: 30px 0 20px;
      @extend %flex-2;
      .advantage__item{
        @extend %flex-1;
        flex-direction: column;
        margin: 0 14px;
        border: 1px solid #bababa;
        width: 200px;
        max-width: 100%;
        height: 270px;
        .item-icon{
          color: #503392;
          font-size: 60px;
          margin: 16px 0;
          i{
            letter-spacing: 0.04em;
            line-height: 24px;
          }
        }
        .item-content-text{
          font:14px $lato-font-stack ;
          text-align: center;
          height: 150px;
          h5{
            font-size: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 60px;
          }
          p{
            margin: 0 auto;
            text-align: center;
            width: 160px;
            letter-spacing: 0.04em;
            line-height: 20px;
            color: #bababa;
          }

        }
        .item-content{
          display: none;
          width: 100%;
          height: 150px;
          text-align: center;
          p{
            text-transform: uppercase;
            font: 14px $lato-font-stack;
            font-weight: 600;
            letter-spacing: 0.05em;
            line-height: 60px;
            color: #fff;
          }
          .item-btn__wrapp{
            .button-adv{
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              border: 2px solid #fff;
              color: #ffffff;
              background: #503392;
              padding: 4px;
              &:hover, &:active{
                background: #ffffff;
                color: #503392;
              }
            }
            .button-adv:first-child{
              transform: rotate(90deg);
            }
          }

        }
        &:hover .item-content-text{
          display: none;
        }
        &:hover .item-content{
          display: block;
          background: #503392;

        }
      }
    }
  }
}

/*ABOUT BLOCK*/
.about__block{
  width: 100%;
  .item__about-block{

    .title__head{
      padding-bottom: 0;
      margin-bottom: 35px;
    }

    .about__head_caption{
      margin-bottom: 50px;
      @extend %subtitle;
    }

    .about__content_text{
      margin-bottom: 50px;
      @extend %subtitle;
      color: #000;
    }

    .skills__container{
      margin-left: 10px;
      .contain__skill{
        .progress__block{
          margin: 20px 0 30px;
        }
        .skill__name{
          font: 13px $lato-font-stack;
          font-weight: bold;
          text-transform: uppercase;

            span:first-child{
              float: left;
            }
          span:last-child{
            float: right;
          }
        }

      }
    }

    .about_figure{
      text-align: right;
      img{
        margin: 0 auto;
        max-width: 100%;
        height: 500px;
        max-height: 100%;
      }
    }

  }
  .item__about-block:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;


  }
}


/*contact block*/
.contacts__block{
  width: 100%;

  .contact__wrapper{
    position: relative;
    iframe{
        height: 635px;
      }

    .contact__form_block{
      @extend %flex-3;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 641px;
      max-height: 100%;
      background: rgba(0,0,0, 0.5);
      .wrapper__form{
        @extend %flex-3;
        margin: 0 auto;
        width: 945px;
        max-width: 100%;
        background: rgba(0,0,0, 0.5);
        height: 435px;
        max-height: 100%;
        .form{
          width: 70%;
          max-width: 100%;
          .send__message{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            .form__group{
              margin: 15px 0;
              p{
                float: left;
                color: #e7e7e7;
              }
              .submit__button{
                float: right;
              }
            }
            .control-btn{
              width: 70%;
            }
            .form__input, .form__checkbox, .form__text{
              background: transparent;
              border: 1px solid #bababa;
              color: #e7e7e7;
              outline: none;
            }
            .form__input{
              width: 238px;
              max-width: 100%;
              padding: 15px;
              margin: 5px 10px;
              line-height: 24px;
              font: 16px $lato-font-stack;
            }
            .form__text{
              width: 495px;
              max-width: 100%;
              height: 145px;
              max-height: 100%;
            }
            .form__checkbox{
              background: transparent;
            }
            .submit__button{
              width: 120px;
              height: 50px;
              background: #ffff00;
            }
          }

        }
        .text__contact{
          width: 30%;
        }
      }
    }
  }

  /*main footer*/
  .main__footer{
    position: relative;
    background: #000;
    color: #bababa;
    height: 64px;
    display: flex;
    align-items: center;

    .footer__content{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 30px;
      @extend %flex-2;

      .footer__text{
        margin-top: 35px;
        line-height: 42px;
        letter-spacing: 0.025em;
        font: 16px $lato-font-stack;
        color: #9c9c9c;
      }
      .social__network_items{
        margin-top: 16px;
        list-style-type: none;
        display: inline-flex;

        .social__item {
          margin: 10px;
          .social__link{
            font-size: 20px;
          }
        }
          .social__item:first-child .social__link{
            color: #5a709e;
            &:hover{
              color: #324663;
            }
          }
          .social__item:nth-child(2) .social__link{
            color: #e86b53;
            &:hover{ color: #a75341;}
          }
          .social__item:nth-child(3).social__link{
            color: #71d6fa;
            &:hover{
              color: #5288a6;
            }
          }
          .social__item:nth-child(4) .social__link{
            color: #fb80a9;
            &:hover{
              color: #7a3d52;
            }
          }

      }
    }


  }
}

/*response*/
//@media () {
//
//}















